

@import url(http://fonts.googleapis.com/css?family=Underdog);

@import url(http://fonts.googleapis.com/css?family=Mystery+Quest);

img {
  margin: auto;
  display: block;
}

body {
  background: black;
}


#a {
  background: black;
}


#b {
  width : 900px;
  background: black;
  display: block;
  padding-left: 10px;
  margin: auto;
}


h1 {
  color: #fff;
  font-family: "Mystery Quest", cursive;
  font-size: 100px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top:40px;
  text-align: center;
  text-shadow:0 1px 1px #949494;
}


p {
  color: #949494;
  font-size: 29px;
  font-family: "Underdog", serif;
  line-height: 45px;
  text-align: left;
  padding-top:20px;
}


p.byline {
  font-style: italic;
  color: #B6B6B6;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}


r {
  font-size: 60px;
  color: white;
}


